.main {
  display: flex;
  background-size: $widthBlockCity 150px !important;
  background: url(../../assets/images/city.svg) no-repeat;
  height: 150px;

  @media (max-width: $breakpoint480) {
    background-size: $widthBlockCityAdaptive 150px !important;
  }
}

.main_city {
  display: flex;
  width: $widthBlockCity;
  justify-content: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 500;

  @media (max-width: $breakpoint480) {
    width: $widthBlockCityAdaptive;
    margin-top: 35px;
    font-size: 35px;
  }
}
.main_search {
  height: 18px;
  font-size: 16px;
  position: relative;
  top: 85px;
  right: 160px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 89, 255);

  &:hover {
    color: rgb(70, 70, 70);
  }

  @media (max-width: $breakpoint480) {
    width: 100%;
    font-size: 14px;
    top: 80px;
    right: -20px;
  }
}
.main_info {
  display: flex;
  justify-content: space-between;
}
